# VS CODE
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# ENVIROMENT
.env
venv/
.venv/

# DJANGO 
*.log
*.pot
*.pyc
__pycache__
db.sqlite3

# PYTHON
*.py[cod]
*$py.class

# TESTS
.pytest_cache
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover