[run]
branch = True
source =
    apps
    core
omit =
    */tests/*
    */migrations/*
    */settings/*
    */wsgi/*
    */asgi/*
    */admin/*
    manage.py
    manage.*.py
    */conftest.py
    */__init__.py

[report]
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    if self\.debug
    if settings\.DEBUG
    if "debug_toolbar" in settings\.INSTALLED_APPS
    if "silk" in settings\.INSTALLED_APPS: 
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

[html]
directory = htmlcov